CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.ninja_deps
.ninjia_log
build.ninja
toy_car.bin
toy_car.elf
toy_car.hex
toy_car.map
cmake-build-debug/*/
registers.svd
